@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
/* reset user agent stylesheet*/
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    overflow:unset;
}
:root{
    --primary-color:#017143;
    --secondary-color:#333;
    --bg-color:#fff;
    --card-color:#f9f9f9;
    --footer-color:#0e382c;
    --body-padding: 1.5em 8em;
}
.wrapper {
    width: 100vw;
}
section {
    width: 100%;
    padding: var(--body-padding);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background: var(--bg-color);
}
html {
    font-size: 10px;
    font-weight: 400;
    line-height: 1.5;
}
header nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding:var(--body-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--bg-color);
   
}
header .logo {
    position: relative;
    max-width: 45px;
}
header ul {
    position: relative;
    display: flex;
    list-style-type: none;
}
header ul li a {
    display: inline-block;
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1.6rem;
    margin:0 1.5em;
    padding: 0 5px;
    letter-spacing: 1px;
}
header ul li a:hover {
    border-bottom:2px solid var(--primary-color) ;
    margin-bottom:-2px;  
}
.content {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    gap:2em;
    align-items:center;
}
.text-box {
    position:relative;
    top: 0;
    left: 0;
    width: 100%;
}
.content h2 {
    color: var(--secondary-color);
    font-size: 6rem;
    font-weight: 500;
}
.content span {
    color:var(--primary-color);
    font-size:6rem;
    font-weight: 800;
}
.content p {
    color: var(--secondary-color);
    max-width: 70ch;
    font-size: 1.5rem;
}
    /* main image of starbucks(transition) 2s*/
.img-box {
    position: relative;
    width:350px;
    height:500px;
    overflow:hidden;
}
.img-box img {
    position: absolute;
    top: 7em;
    left: 6em;
    max-width: 220px;
}
.img-box .img-1 {
    top:30px;
}
.img-box .img-2 {
   transform: rotate(20deg);
   left: 50px;
}
.img-box .img-3 {
    top:-20px;
    left: 70px;
}
   /*  end of img-box */
.menu-wrapper {
    width: 100%;
    padding: var(--body-padding);
}
.product-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    list-style-type: none;
}
.card {
    background-color:var(--card-color);
    min-width: 250px;
    min-height: 232px;
    border-radius: 8px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-list img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin:2rem 0;
     
}
.menu-wrapper h2 {
    font-size: 3rem;
    font-weight: 500;
    text-align:center;  
}
.menu-wrapper h6 {
    font-size: 1.5rem;
    letter-spacing: 0.5px;
}
.menu-des {
    text-align:center;
    font-size: 1.9rem;
    color: rgb(134, 124, 124);
    margin-bottom: 2em;
   
 }

.card .price {
    font-size: 1.5rem;
}
.card span {
    padding: 0 0.5rem;
}
/* button */
.btn{
        cursor: pointer;
        display: block;
        width: 150px;
        color:var(--bg-color);
        font-size: 1.3rem;
        font-weight: 500;
        background-color:var(--primary-color);
        padding: 10px 0;
        margin-top: 1rem;
        text-align: center;
        border-radius: 40px;
        transition: 0.4s ease;
        text-decoration: none;
    }
.btn:hover {
    background-color: var(--secondary-color);
}
/* video section what's new */
#video {
    position: relative;
    width: 850px;
    height: 500px;
    border-radius: 8px;
    box-shadow: 0 3.2px 7.2px 0 rgb(0 0 0 / 50%), 0 0.10px 1.8px 0 rgb(0 0 0 / 11%);
}
#video-section h3 {
    font-size: 3.5rem;
    font-weight: 500;
    padding: 2rem 0;
}
#form {
    width: 100%;
    display: flex;
    justify-content: center;
}

#email {
    width: 600px;
    max-width: 600px;
    height: 60px;
    border-radius: 30px 0 0 30px;
    border: 1px solid var(--primary-color) ;
    outline: 0;
    padding: 0 3em;
    background: none;
    background: #fff;
    box-shadow: 0px 0px 28px 2px rgb(0 0 0 / 10%);
    font-size: 1.6rem;
}

#submit {
    min-width: 180px;
    font-size: 1.6rem;
    border-radius: 0 30px 30px 0;
    margin-top: 0 !important;
    margin-top: 1rem;
    padding: 0;
    border: none;
}
#subscribe-section .section-title {
    font-size: 3rem;
    padding: 2rem 1rem;
    font-weight: 500;
}
footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color:var(--footer-color);
    color: var(--bg-color);
    font-size: 1.4rem;
    margin-top: 4em;
}
@media(max-width:1050px){
   .content h2 {
    font-size: 5rem;
   }
   .content span {
    font-size:5rem;
   }
   .content p {
    max-width: 50ch;
   }
   .menu-wrapper h2, 
   #video-section .section-title,
   #subscribe-section .section-title
     {
        font-size: 2.5rem;
   }
    section {
        padding: 1.5em 4em;
    }
    header nav {
        padding: 1.5em 4em;
    }
    .img-box img {
        max-width:200px;
    }
    .product-list {
       gap: 3em;
    }
    .card {
        min-width: 220px;
        padding: 1rem;
    }
    .product-list img{
        width: 150px;
        height: 150px;
    }
    #video{
        width:calc(100vw - 120px);
    }
    #email{
       width: calc(100vw - 180px);
    }
    #submit{
        min-width: 50px;
    }
@media(max-width:775px){
   .content h2 {
    font-size: 4rem;
   }
   .content span {
    font-size:4rem;
   }
   .content p {
    max-width: 40ch;
   }
   .menu-wrapper h2, 
   #video-section .section-title,
   #subscribe-section .section-title
     {
        font-size: 2rem;
   }
   .content {
    flex-direction: column;
   }
   .img-box  {
    width: 300px;
    height: 400px;
   }
   .img-box img {
    width: 150px;
   }
   section {
    padding: 1.5em 3em ;
   }
   header nav {
    padding: 1.5rem 3rem;
   }
   .nav-container {
    margin-bottom: 8em;
   }
   .product-list {
    gap:2em;
   }
   .card {
    min-width: 180px;
   }
   .product-list img {
    width: 120px;
    height: 120px;
   }
   #video {
    width: calc(100vw - 90px);
   }
   #email {
    width: calc(100vw - 120px);
   }
   #submit {
    min-width: 40px;
   }
    /*Adding hamburger menu */
.nav-container ul.toggle{
    position: fixed;
    z-index: 999;
    top: 3.5%;  right: 6%;
    width: 30px;   height: 30px;
    cursor: pointer;
}
.nav-container ul.toggle li{
    position: absolute;
    left: 5%;
    transform: translateY(-50%);
    height: 4px;  width: 100%;
    list-style: none;
    background:var(--secondary-color);
    transition: .2s;
}
.nav-container ul.toggle li:nth-of-type(1){
    top: 20%;
}
.nav-container ul.toggle li:nth-of-type(2){
    top: 50%;
}
.nav-container ul.toggle li:nth-of-type(3){
    top: 80%;
}
.nav-container ul.toggle.active li:nth-of-type(1){
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
.nav-container ul.toggle.active li:nth-of-type(2){
    left:-100%;
    opacity: 0;
}
.nav-container ul.toggle.active li:nth-of-type(3){
    top: 50%;
    transform:  translateY(-50%) rotate(-45deg);
}

.nav-container .sidebar{
    position: fixed;
    top: 0;  right: -320px;
    background: var(--bg-color);
    width: 320px;   height: 400px;
    box-sizing: border-box;
    transition: .2s;
    z-index: 1;
}
.nav-container .sidebar.active{
    right: 0;
    box-shadow: 0 3.2px 7.2px 0 rgb(0 0 0 / 50%), 0 0.10px 1.8px 0 rgb(0 0 0 / 50%);
}
.nav-container .sidebar ul.nav-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 10rem;
    text-transform: uppercase;
}
.nav-container .sidebar ul.nav-menu li a{
    display: inline-block;
    position: relative;
    color:var(--secondary-color);
    font-size: 2rem;
}
}
@media(max-width:650px){
    .product-list {
        flex-direction: column;
    }
    .btn{
        font-size:1rem;
        width: 120px;
    }
    .nav-container .sidebar {
         width: 250px; height: 250px;
    }
}
@media(max-width:450px){
     html {
        font-size: 8px;
     }
     section {
        padding: 1.5rem 1rem;
     }
     .content {
        gap: 5em;
    }
    .content p{
        max-width: auto;
    }
    .menu-wrapper{
        padding: 1.5em 1em;
    }
    .card {
        min-width: 200px;
    }
    #email {
        width: 250px;
        height: 40px;
    }

}
