@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
/* reset user agent stylesheet*/
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
:root{
    --primary-color:#017143;
    --secondary-color:#333;
    --bg-color:#fff;
    --card-color:#f9f9f9;
    --footer-color:#0e382c;
    --body-padding: 10px 80px;
}
.wrapper {
    width: 100vw;
}
section {
    width: 100%;
    padding: var(--body-padding);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background: var(--bg-color);
}
html {
    font-size: 10px;
    font-weight: 400;
    line-height: 1.5;
}
header nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding:var(--body-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--bg-color);
   
}
header .logo {
    position: relative;
    max-width: 45px;
}
header ul {
    position: relative;
    display: flex;
    list-style-type: none;
}
header ul li a {
    display: inline-block;
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1.6rem;
    margin:0 1.5em;
    padding: 0 5px;
    letter-spacing: 1px;
}
header ul li a:hover {
    border-bottom:2px solid var(--primary-color) ;
    margin-bottom:-2px;  
}
.content {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    gap:2em;
    align-items:center;
}
.text-box {
    position:relative;
    top: 0;
    left: 0;
    width: 100%;
}
.content h2 {
    color: var(--secondary-color);
    font-size: 6rem;
    font-weight: 500;
}
.content span {
    color:var(--primary-color);
    font-size:6rem;
    font-weight: 800;
}
.content p {
    color: var(--secondary-color);
    max-width: 70ch;
    font-size: 1.5rem;
}
    /* main image of starbucks(transition) */
.img-box {
    position: relative;
    width:350px;
    height:500px;
    overflow:hidden;
}
.img-box img {
    position: absolute;
    top: 7em;
    left: 6em;
    width: 230px;
    animation: imgFade 9s ease-in-out infinite;
}
@keyframes imgFade {
    0% {
      opacity:1;
    }
    17% {
      opacity:1;
    }
    25% {
      opacity:0;
    }
    92% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
.img-box .img-1 {
    animation-delay: 3s;
    transform: rotate(-15deg);
    width: 220px;
}
.img-box .img-2 {
    animation-delay: 6s;
}
.img-box .img-3 {
    animation-delay: 9s;
    transform: rotate(-15deg);
    top:-10px;
    width: 220px;
}
   /*  end of img-box */
.menu-wrapper {
    width: 100%;
    margin: 12rem 0;
    padding: var(--body-padding);
}
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    list-style-type: none;
}
.card {
    background-color:var(--card-color);
    min-width: 250px;
    min-height: 232px;
    border-radius: 8px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-list img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin:2rem 0;
     
}
.menu-wrapper h2 {
    font-size: 3rem;
    font-weight: 500;
    text-align:center;  
}
.menu-wrapper h6 {
    font-size: 1.5rem;
    letter-spacing: 0.5px;
}
.menu-des {
    text-align:center;
    font-size: 1.9rem;
    color: rgb(134, 124, 124);
    margin-bottom: 2em;
   
 }

.card .price {
    font-size: 1.5rem;
}
.card span {
    padding: 0 0.5rem;
}
/* button */
.btn{
        cursor: pointer;
        display: block;
        width: 150px;
        color:var(--bg-color);
        font-size: 1.3rem;
        font-weight: 500;
        background-color:var(--primary-color);
        padding: 10px 0;
        margin-top: 1rem;
        text-align: center;
        border-radius: 40px;
        transition: 0.4s ease;
        text-decoration: none;
    }
.btn:hover {
    background-color: var(--secondary-color);
}
/* video section what's new */
#video {
    position: relative;
    width: 850px;
    height: 500px;
    border-radius: 8px;
    margin-bottom: 12rem;
    box-shadow: 0 3.2px 7.2px 0 rgb(0 0 0 / 50%), 0 0.10px 1.8px 0 rgb(0 0 0 / 11%);
}
#video-section h3 {
    font-size: 3.5rem;
    font-weight: 500;
    padding: 2rem;
}
#form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#email {
    width: 600px;
    max-width: 600px;
    height: 60px;
    border-radius: 30px 0 0 30px;
    border: 1px solid var(--primary-color) ;
    outline: 0;
    padding: 0px 30px;
    background: none;
    background: #fff;
    box-shadow: 0px 0px 28px 2px rgb(0 0 0 / 10%);
    font-size: 1.6rem;
}

#submit {
    min-width: 180px;
    font-size: 1.6rem;
    border-radius: 0 30px 30px 0;
    margin-top: 0 !important;
    margin-top: 1rem;
    padding: 0;
    border: none;
}
#subscribe-section .section-title {
    font-size: 3rem;
    font-weight: 500;
}
footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color:var(--footer-color);
    color: var(--bg-color);
    font-size: 1.4rem;
    margin-top: 4em;
}
/* media quries */
@media(max-width:950px){
    header nav {
        padding: 20px;
    }

    /*Adding hamburger menu */
.nav-container ul.toggle{
    position: fixed;
    z-index: 5;
    top: 4%;  right: 3%;
    width: 40px;   height: 40px;
    cursor: pointer;
}
.nav-container ul.toggle li{
    position: absolute;
    left: 5%;
    transform: translateY(-50%);
    height: 5px;  width: 90%;
    list-style: none;
    background:var(--secondary-color);
    transition: .2s;
}
.nav-container ul.toggle li:nth-of-type(1){
    top: 20%;
}
.nav-container ul.toggle li:nth-of-type(2){
    top: 50%;
}
.nav-container ul.toggle li:nth-of-type(3){
    top: 80%;
}
.nav-container ul.toggle.active li:nth-of-type(1){
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
.nav-container ul.toggle.active li:nth-of-type(2){
    left:-100%;
    opacity: 0;
}
.nav-container ul.toggle.active li:nth-of-type(3){
    top: 50%;
    transform:  translateY(-50%) rotate(-45deg);
}

.nav-container .sidebar{
    position: fixed;
    top: 0;  right: -350px;
    background: var(--bg-color);
    width: 350px;   height: 100vh;
    box-sizing: border-box;
    padding: 50px 40px;
    transition: .2s;
    z-index: 1;
}
.nav-container .sidebar.active{
    right: 0;
    box-shadow: 0 3.2px 7.2px 0 rgb(0 0 0 / 50%), 0 0.10px 1.8px 0 rgb(0 0 0 / 50%);
}
.nav-container .sidebar ul.nav-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 100px;
    margin-left: 50px;
    text-transform: uppercase;
}
.nav-container .sidebar ul.nav-menu li a{
    display: inline-block;
    position: relative;
    color:var(--secondary-color);
    font-size: 2rem;
}
/*end of hamburger menu*/

    .content h2{
        font-size: 4rem;
    }
    .content span {
        font-size: 4rem;
    }
    .img-box img {
        max-width:250px;
        margin-right:10px
    }
    .card {
        min-width: 200px;
        min-height: 200px;
    }
    .product-list img{
        width: 150px;
        height: 150px;
    }
    #video{
        width: 750px;
    }
    #subscribe-section .section-title{
        font-size: 2.5rem;
    }
    #email{
        width: 550px;
    }
}
@media(max-width:800px){
    .content{
        padding: 20px 70px;
    }
    .content h2{
        font-size: 3rem;
    }
    .content span {
        font-size: 3rem;
    }
    .img-box img {
        max-width:250px;
        margin-right:10px
    }
    .card {
        min-width: 180px;
        min-height: 200px;
    }
    .product-list{
        gap: 1rem;
    }
    .product-list img{
        width: 150px;
        height: 150px;
    }
    .menu-wrapper h2{
        font-size: 2rem;
    }
    .menu-des {
        font-size: 1.5rem;
    }
    #video{
        width:calc(100vw - 100px);
    }
    #subscribe-section .section-title{
        font-size: 2rem;
    }
    #video-section h3{
        font-size:2rem;
    }
    #email{
       width: calc(100vw - 200px);
        height:40px;
        padding: 0px 5px;
        font-size: 1.2rem;
    }
    #submit{
        min-width: 50px;
        font-size:1.2rem;
        margin-top: 0.5rem;
    }

}
@media(max-width:650px){
    header nav {
        padding: 20px 40px;
    }
    header ul li a{
        margin: 0 30px 8px 0;
    }
    .content{
        padding: 20px 40px;
    }
    
    .content p{
        font-size:1rem;
    }
  
    .img-box img {
        max-width:200px;
        margin-right:1px
    }
    .card {
        min-width: 120px;
        min-height: 150px;
    }
    .product-list{
        gap: 0.5rem;
    }
    .product-list img{
        width: 120px;
        height: 120px;
    }
    .menu-wrapper h2{
        font-size: 1.5rem;
    }
    .menu-wrapper h6 {
        font-size:1.2rem;
    }
    .menu-des {
        font-size: 1.3rem;
    }
    #video{
        width:calc(100vw - 100px);
    }
    #subscribe-section .section-title{
        font-size: 1.5rem;
    }
    #video-section h3{
        font-size:1.5rem;
    }
    
    .btn{
        font-size:1rem;
        width: 120px;
    }

}
@media(max-width:550px){
    .nav-container .sidebar{
        width: 100%;
    }
}